Flask==0.10.1
Flask-Login==0.2.11
Flask-SQLAlchemy==1.0
Flask-KVSession==0.4
Jinja2==2.7.2
MarkupSafe==0.23
Werkzeug==0.9.4
gunicorn==18.0
itsdangerous==0.24
wsgiref==0.1.2
SQLAlchemy==0.9.4
google-api-python-client==1.2
simplekv==0.8.4
python-gflags==2.0
oauth2client==1.2
flask-compress==1.0.2
