html body {
color: #000;
background: #f8f8f8;
font-family: 'Quicksand', Arial, sans-serif;
padding: 0;
margin: 0;
}

h1, h2, h3, h4, small {
color: #096;
text-align: center;
}

body {
background: #fff !important;
}

p {
line-height: 1.5em;
}

body > section {
height: 100%;
width: 100%;
}
section#splash, section#profile-page {
display: block;
position: absolute;
background: url('/static/img/photography.png') top center;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
}

section#profile-page {
background: #fff !important;
}

.floater {
    float: left;
    width: 100%;
    height: 50%;
    margin-bottom: -120px;
}

.hexagon-set {
    clear: both;
    width: 100%;
    height: 240px;
}

.hero {
    margin: 0 auto;
    perspective: 1000;
    cursor: pointer;
}

.hero, #logo-back, #logo-front {
    width: 240px;
    height: 240px;
}

.hexagons {
    width: 240px;
    height: 240px;
    position: relative;
    top: 0;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: 0.2s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
}

.hexagon {
    position: absolute;
    margin: 0 auto;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.hero:hover .hexagons {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}

#logo-front {
    background: url('img/oboero_min.png') no-repeat;
    z-index: 2;
}

#logo-back {
    background: url('img/start_2_min.png') no-repeat;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}

#intro-text {
    display: block;
    width: 100%;
    position: absolute;
    background: #096;
    color: #fff;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
}

img.main {
border-radius: 100%;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
-khtml-border-radius: 100%;
}


.pure-g > div {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

#profile-page nav {
height: 40px;
border-bottom: 1px solid #f8f8f8;
}

.placard {
background: #f8f8f8;
padding: 0.3em 1em;
border-radius: 3px;
color: #000;
margin: 10px;
text-align: center;
}

button {
border: none !important;
height: 45px;
background: #096 ;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
color: #fff;
font-size: 0.7em;
line-height: 1em;
cursor: pointer;
transition: 0.25s;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
}

button:hover {
background: #09c;
}

img.profile {
-webkit-filter: grayscale(100%);
}

progress[value] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: none;
width: 250px;
height: 20px;
}
progress[value]::-webkit-progress-bar {
background-color: #eee;
border-radius: 2px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
background-image:
   -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
   -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25));
background-color: #FF3300;
border-radius: 2px;
background-size: 35px 20px, 100% 100%, 100% 100%;
-webkit-animation: animate-stripes 5s linear infinite;
-moz-animation: animate-stripes 5s linear infinite;
animation: animate-stripes 5s linear infinite;
}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}
