<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/main.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>OBOERO 覚えろ</title>
	<link rel="icon" href="/static/img/favicon.ico?v=2">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
	<meta name="description" content="OBOERO! Verb Conjugator" />
	<meta name="author" content="kelvintaywl@gmail.com" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
    <style>
        {% block css %}
        {% endblock %}
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
	<script>
        {% block js %}
        {% endblock %}
	</script>
    <div id = "footerSlideContainer">
    </div>
</body>
</html>


<a href="{{ url_for('verb.new') }}"></a>
