    {% extends "_layout/_base.html" %}
    {% block content %}
	<section id="splash">
        <div id="intro-text">
            <p>日本語が苦手？ 大丈夫だね! これから、<a href="{{url_for('index.about')}}">「覚えろ」</a></p>
            <p>Learn Japanese by games and become a Respectable Gaijin!</p>
        </div>
        <div class="floater"></div>
            <div class="hexagon-set">
            <div class="hero">
                <div class="hexagons">
                    <div id="logo-front" class="hexagon"></div>
                    <div id="logo-back" class="hexagon"></div>
                </div>
            </div>
		</div>
        <!--
        <footer class="main">
			<div class="960">
                {% if g.user %}
                <h3>{{ g.user.email }}</h3>
                {% endif %}
				<small>What is Oboero? 『覚えろ』について</small><p><a href="http://kelvintaywl.pythonanywhere.com">Kelvin Tay</a> built <a href="{{url_for('index.about')}}">OBOERO</a> whilst cursing at the number of <strong>verb conjugations</strong> Japanese language learners need to commit to memory. He hopes that this mini-game helps Gaijins get better at Nihongo.<br><a href="about" class="image"><button>Read More!</button></a> <a href="{{url_for('index.get_verbs')}}" target="_blank" class="image"><button>Get Words in JSON!</button></a></p>
			</div>
		</footer>
		-->
	</section>
    <section id="game">
		<h1>Welcome, Hero.</h1>
		<h2>Your Score: <span id="currentScore">-1</span></h2>
		        {% for verb in verbs %}
				<form class="pure-form">
	    			<fieldset>
	        			<legend>Enter the {{verb['groupType']}} for the word {{verb['jap']}}ます</legend>
	        			<input class="answer" type="text" data-answer="{{verb['answer']}}" placeholder="{{verb['answer']}}">
	        			<button id="submitButton" type="submit" class="pure-button pure-button-primary">Submit</button>
	    			</fieldset>
				</form>
				{% endfor %}

	</section>
	<section id="list">
		<ul>
			{% for tr in verbs %}
			<li>{{tr['jap']}}ます<small>{{tr['group']}}</small>
				<ul>
					<li>PLAIN: {{tr['plain']}}</li>
					<li>NAI: {{tr['nai']}}</li>
					<li>TE: {{tr['te']}}</li>
					<li>COND: {{tr['conditional']}}</li>
				</ul>

			</li>
			{% endfor %}
		</ul>
	</section>
    {% endblock %}
	{% block js %}
	currentScore = -1;
	localStorage['oboeroScore'] = 250;
	$(document).ready(function(){
		$('section:not("#splash")').hide();
		$('#start').click(function(){
			$('section#game').show();
			$(this).scrollTo( $('section#game').offset().top, 200);
			$('section#splash').fadeOut("fast");
			//check for local storage
			if(supports_html5_storage()){
				currentScore = localStorage['oboeroScore']? parseInt(localStorage['oboeroScore']) : 0;
				//update char avatar
				$('#currentScore').text(currentScore);
			};

		});
		$('button#submitButton').click(function(){
			textInput = $('input.answer').val();
			answer = $('input.answer').attr('data-answer');
			if(textInput == answer){
				updateScore(1);
				alert('CONGRATS');
			}
			else{
				alert('LAME');
			}
		});
	});

	$.fn.scrollTo = function(loc, speed){
		var ht = parseInt(loc);
		$('body,html').animate({scrollTop: ht}, speed);

	}

	function supports_html5_storage() {
	  try {
	    return 'localStorage' in window && window['localStorage'] !== null;
	  } catch (e) {
	    return false;
	  }
	}

	function updateScore(incre){
		currentScore += parseInt(incre);
		$('#currentScore').text(currentScore);
	}
    {% endblock %}
