    {% extends "_layout/_base.html" %}
    {% block head %}
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript'; po.async = true;
        po.src = 'https://plus.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
      })();


      var helper = (function() {
          var authResult = undefined;

          return {
            /**
             * Hides the sign-in button and connects the server-side app after
             * the user successfully signs in.
             *
             * @param {Object} authResult An Object which contains the access token and
             *   other authentication information.
             */
            onSignInCallback: function(authResult) {
              if (authResult['access_token']) {
                // The user is signed in
                this.authResult = authResult;
                helper.connectServer();
                // After we load the Google+ API, render the profile data from Google+.
                gapi.client.load('plus','v1',this.saveProfile);

              } else if (authResult['error']) {
                // There was an error, which means the user is not signed in.
                // As an example, you can troubleshoot by writing to the console:
                console.log('There was an error: ' + authResult['error']);
                $('#authResult').append('Logged out');
                $('#gConnect').show();
              }
              console.log('authResult', authResult);

            },
            /**
             * Retrieves and renders the authenticated user's Google+ profile.
             */
            saveProfile: function() {
              var request = gapi.client.plus.people.get( {'userId' : 'me'} );
              request.execute( function(profile) {
                    $.ajax({
                        type: 'POST',
                        data :{
                            "pic_url": profile.image.url
                         },
                        url: "{{url_for('index.save_profile')}}",
                        success: function(data){
                            // redirect to user profile page
                            window.location.href = "{{ url_for('index.profile') }}";
                        }
                    });
              });
            },
            /**
             * Calls the server endpoint to disconnect the app for the user.
             */
            disconnectServer: function() {
              // Revoke the server tokens
              $.ajax({
                type: 'POST',
                url: "{{url_for('index.logout')}}",
                async: false,
                success: function(result) {
                  console.log('revoke response: ' + result);
                  $('#gConnect').show();
                },
                error: function(e) {
                  console.log(e);
                }
              });
            },
            /**
             * Calls the server endpoint to connect the app for the user. The client
             * sends the one-time authorization code to the server and the server
             * exchanges the code for its own tokens to use for offline API access.
             * For more information, see:
             *   https://developers.google.com/+/web/signin/server-side-flow
             */
            connectServer: function() {
              console.log(this.authResult.code);
              $.ajax({
                type: 'POST',
                url: '{{url_for('index.login', state=state)}}',
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                  console.log(result);
                },
                processData: false,
                data: this.authResult.code
              });
            }
          };
        })();

        function onSignInCallback(authResult) {
          helper.onSignInCallback(authResult);
        }

        function logout() {
          helper.disconnectServer();
        }
    </script>
    {% endblock %}

    {% block content %}
	<section id="splash">
        <div id="intro-text">
            <p>日本語が苦手？ 大丈夫だね! これから、<a href="{{url_for('index.about')}}">「覚えろ」</a></p>
            <p>Level up your Japanese by fighting the Grammar Yakuzas. Become a Respectable Gaijin!
                <div id="gConnect">
                    <button class="g-signin"
                        data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read"
                        data-requestvisibleactions="http://schemas.google.com/AddActivity"
                        data-clientId="{{ client_id }}"
                        data-accesstype="offline"
                        data-callback="onSignInCallback"
                        data-theme="dark"
                        data-cookiepolicy="single_host_origin">
                    </button>
                </div>
            </p>
        </div>
        <div class="floater"></div>
            <div class="hexagon-set">
            <div class="hero">
                <div class="hexagons">
                    <div id="logo-front" class="hexagon"></div>
                    <div id="logo-back" class="hexagon"></div>
                </div>
            </div>
		</div>
	</section>
    <section id="profile-page" style="display: none">
        <nav class="pure-menu pure-menu-open pure-menu-horizontal">
            <a href="#" class="pure-menu-heading">「覚えろ」</a>
            <ul>
                <li><a href="{{ url_for('index.about') }}"><i class="fa fa-cube"></i>&nbsp;About</a></li>
                <li><a href="http://github.com/kelvintaywl/oboero"><i class="fa fa-github"></i>&nbsp;Github</a></li>
                <li><a onclick="logout()"><i class="fa fa-sign-out"></i>&nbsp;logout</a></li>
            </ul>
        </nav>
        <div class="pure-g" style="margin-top: 50px;">
            <div class="pure-u-md-1-3">
                <div class="placard">
                    <img src="static/img/kanji.png">
                    <div class="pure-menu pure-menu-open">
                        <a class="pure-menu-heading"><h4>Kanji Crush Saga</h4></a>

                        <ul>
                            <li><a><progress max="100" value="50"></progress></a></li>
                            <li><a href="#">CONTINUE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pure-u-md-1-3">
                <div class="placard">
                    <img src="static/img/wordcount_min.png">
                    <div class="pure-menu pure-menu-open">
                        <a class="pure-menu-heading"><h4>Dictionary Master</h4></a>

                        <ul>
                            <li><a><progress max="100" value="75"></progress></a></li>
                            <li><a href="#">CONTINUE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pure-u-md-1-3">
                <div class="placard">
                    <img src="static/img/verbconju.png">
                    <div class="pure-menu pure-menu-open">
                        <a class="pure-menu-heading"><h4>Verb Conjugator</h4></a>

                        <ul>
                            <li><a><progress max="100" value="50"></progress></a></li>
                            <li><a href="#">CONTINUE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
	{% block js %}
        $(document).ready(function(){
            $('.hero').click(function(){
                $('#gConnect button').trigger('click');
            });
        });
    {% endblock %}
