{% extends "_layout/_base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<section id="profile-page">
        <nav class="pure-menu pure-menu-open pure-menu-horizontal">
            <a href="#" class="pure-menu-heading">「覚えろ」</a>

            <ul>
                <li><a href="{{ url_for('index.about') }}"><i class="fa fa-cube"></i>&nbsp;About</a></li>
                <li><a href="http://github.com/kelvintaywl/oboero"><i class="fa fa-github"></i>&nbsp;Github</a></li>
                <li><a onclick="logout()"><i class="fa fa-sign-out"></i>&nbsp;logout</a></li>
                <li> Welcome {{ current_user.username }}</li>
            </ul>
            <div id = "profile-icon" class="pure-menu-heading" style="float: right"><img src= "{{  current_user.pic_url }}" class = "circular-profile"></div>
        </nav>
        <div class="pure-g" style="margin-top: 50px;">
            <div class="pure-u-md-1-3">
                <div class="placard">
                    <img src="static/img/kanji.png">
                    <div class="pure-menu pure-menu-open">
                        <a class="pure-menu-heading"><h4>Kanji Crush Saga</h4></a>

                        <ul>
                            <li><a><progress max="100" value="50"></progress></a></li>
                            <li><a href="#">CONTINUE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pure-u-md-1-3">
                <div class="placard">
                    <img src="static/img/wordcount_min.png">
                    <div class="pure-menu pure-menu-open">
                        <a class="pure-menu-heading"><h4>Dictionary Master</h4></a>

                        <ul>
                            <li><a><progress max="100" value="75"></progress></a></li>
                            <li><a href="#">CONTINUE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pure-u-md-1-3">
                <div class="placard">
                    <img src="static/img/verbconju.png">
                    <div class="pure-menu pure-menu-open">
                        <a class="pure-menu-heading"><h4>Verb Conjugator</h4></a>

                        <ul>
                            <li><a><progress max="100" value="50"></progress></a></li>
                            <li><a href="#">CONTINUE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- NOTE: this is for testing of Google's API client. Re-prettify it soon!
        ''' -->
        <div id="profile"></div>
        <div id="footerSlideContainer">
            <div id="footerSlideContent" style="height: 0px;">

                <div id="profile"></div>

                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="name">Display Name</label>
                            <input id="name" type="text" placeholder="Username">
                        </div>

                        <div class="pure-control-group">
                            <label for="foo">Supercalifragilistic Label</label>
                            <input id="foo" type="text" placeholder="Enter something here...">
                        </div>
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    $(document).ready(function() {
    var open = false;
    $('#profile-icon').click(function () {
        if(open === false) {
            alert("jjjj");
            $('#footerSlideContent').animate({ height: '300px' });
            open = true;
        } else {
            $('#footerSlideContent').animate({ height: '0px' });
            open = false;
        }
        });
    });



    /*
    var signOut = function(){
        gapi.auth.signOut();
        $.ajax({
            type: 'POST',
            data :{
                pic-url: "url",
             },
            url: '{{url_for('index.logout')}}',
            success: function(data){
                alert(data);
                window.location.href = "{{url_for('index.game')}}";
            }
        });
    };
    */
{% endblock %}
