<html>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
	<link rel="stylesheet" href="/static/main.css">
	<title>OBOERO 覚えろ</title>
	<link rel="icon" href="/static/img/favicon.ico?v=2">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
	<meta name="description" content="OBOERO! Verb Conjugator" />
	<meta name="author" content="kelvintaywl@gmail.com" />
</head>
<body>
	<img style="display:block; margin: 0 auto;" src="/static/img/oboero_min.png">
	<small style="display:block;text-align:center;margin: 10 auto;">VERB CONJUGATOR</small>
	<div class="modal">
		<h1>About OBOERO</h1>
		<h2>Verb: {{verb['jap']}}ます</h2>
		<h2>Nai: {{verb['nai']}}</h2>
		<h2>Plain: {{verb['plain']}}</h2>
		<h2>Te: {{verb['te']}}</h2>
		<h3>Conditional: {{verb['conditional']}}</h3>
		<h3>Volitional: {{verb['volitional']}}</h3>
		<h3>Imperative: {{verb['imperative']}}</h3>
		<h3>Prohitive: {{verb['prohibitive']}}</h3>
		<!--
		<form>
			<fieldset>
			<label for="verb">Name</label>
			<input type="text" name="verb" value="やります" placeholder="[ます form]">
			</fieldset>
			<fieldset>
			<input type="submit" value="submit" id="submitButton">
			</fieldset>
		</form>
		-->
		<footer><img class="main" src="/static/img/face_min.png"><small>2013. Made with love by <a href="http://www.tinyurl.com/kelvintaywl">Kelvin Tay</a></small></footer>
	</div>
	<script>
	</script>
</body>
</html>